@using CarsManagement.Client.Application
@inject CustomAuthenticationStateProvider AuthStateProvider

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Cars management client</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <div class="flex-container justify-content-beetwen">

        <nav class="flex-column">
            <div class="nav-item mx-5 my-5 text-white">
                <span class="oi oi-info" aria-hidden="true"></span> @AuthenticationValue
            </div>

            <AuthorizeView>
                <Authorized>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                            <span class="oi oi-home" aria-hidden="true"></span> Home
                        </NavLink>
                    </div>

                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="DataTable">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
                        </NavLink>
                    </div>

                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="LotBuilder">
                            <span class="oi oi-grid-four-up" aria-hidden="true"></span> Build Parking Lot
                        </NavLink>
                    </div>

                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="park">
                            <span class="oi oi-grid-four-up" aria-hidden="true"></span> Park car
                        </NavLink>
                    </div>

                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="swagger">
                            <span class="oi oi-list" aria-hidden="true"></span> Redirect to Swagger
                        </NavLink>
                    </div>

                    <div class="nav-item px-3 text-white">
                        <NavLink class="nav-link" href="/auth/logout">
                            <span class="oi oi-account-logout" aria-hidden="true"></span> Logout
                        </NavLink>
                    </div>

                </Authorized>
            </AuthorizeView>
        </nav>
    </div>
</div>

@code {

    protected override async Task OnInitializedAsync()
    {
        AuthenticationState = await AuthStateProvider.GetAuthenticationStateAsync();
        AuthStateProvider.AuthenticationStateChanged += OnAuthenticationStateChanged;
    }

    private async void OnAuthenticationStateChanged(Task<AuthenticationState> task)
    {
        AuthenticationState = await task;
        StateHasChanged(); // Request re-rendering of the component
    }

    private AuthenticationState? AuthenticationState { get; set; }

    private string AuthenticationValue
    {
        get
        {
            if (AuthenticationState.User.Identity.IsAuthenticated)
                return "Authenticated";
            return "Not Authenticated";
        }
    }

    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void Logout()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    public void Dispose()
    {
        AuthStateProvider.AuthenticationStateChanged -= OnAuthenticationStateChanged;
    }

}